//$pColor: #0E2746;
//$lColor: #00AAAF;
//$yColor: #FFCF34;



// Icomoon Font
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff2?hb1ilc') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  font-size: 16px;
}

body {
  
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-backface-visibility: hidden;
}

// Images
img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

// Images (SVG)
svg,
img[src$=".svg"] {
  width: 100%;
  max-width: none;
}

// Icons
.icon-arrow,
.icon-plus,
.icon-minus {
  display: inline-block;
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow::before {
  content: '\e900';
  color:#00AAAF;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-plus::before {
  content: '\e901';
  float:right;
}

.icon-minus::before {
  content: '\e902';
  float:right;
 
}

h1 {
  font-size: 46px;
  font-style: normal;
  font-weight: bold;
  line-height: 51px;
  color:  #0E2746;
}

p{
  font-size: 16px;
  line-height: 31px;
  color:  #0E2746;
}

a{
  color: #00AAAF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

a:hover {
  color:#FFCF34;
}

.icon icon-arrow-right2 {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  color: #00AAAF;
 }

 .shortdiv {
  background-color: #00AAAF;
  border: none;
  width: 33px;
  height: 3px;
  margin-bottom: 16px;
 }

 .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  align-content: space-around;
}

.flex-items:nth-child(1) {
  flex: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  flex: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.yellowrectangle {
  height: 269px;
  width: 181px;
  background-color: #FFCF34 ;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.mainimage {
  border-radius: 0 0 40px 0;
  padding-left: 0px;
  padding-top: 109px;
  margin-right: 80px;
}

#squiggle {
  margin-top: 279px;
  margin-bottom: 31px;
}

#maintext {
  margin: 27px 0px;
  //margin-bottom: 27px;
  max-width: 500px;
}

@media (max-width: 1095px) {
  #squiggle {
    width: 70%;
    margin-top: 30px;
  }
}

  #accordian {
    max-width: 700px;
    margin-top: 117px;  
    margin-bottom: 120px;
    justify-content:center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    //padding-top: 117px;
    
    
  }

  .accordion {
    background-color: white;
    color: #0E2746;
    cursor: pointer;
    padding: 18px;
    width: 100%;
   border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    line-height: 28px;
    transition: 0.4s;
    font-weight: normal;
  }
  
  .active, .accordion:hover {
    background-color: white;
    color:#00AAAF; 
  }
  
  .panel {
    padding: 40px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    color:#0E2746;
    font-size: 16px;
    line-height: 31px;
    //margin-bottom: 21px;
  }

  .panel p {
    margin-bottom: 21px;
  }
  /*.alink {
    border-bottom: 1px solid #00AAAF;
    line-height: 2;
    color:#00AAAF;
  }

  .alink:hover {
    color:#0E2746;
    text-decoration-line:underline ;
    text-decoration-color: #FFCF34;
    text-decoration-thickness: 9px;
       
  }*/

  #a1 {
    margin-bottom: 70px;
  }

  hr:not(.shortdiv) {
    //width: 100%;
    background-color: #cdc5c5;
    opacity: 0.2;
    //border: none;
    //height: .5px;
    //margin-bottom: 16px;
  }

  .alink {
    color: #00AAAF;
    text-decoration: underline;
    text-decoration-color: #00AAAF;
    text-underline-offset: .5rem;
    background-position-y: -0%;
    /*background-image: linear-gradient( white 50%, gold 50%);*/
    transition: background 500ms ease;
    background-size: 2px;
    background-size: auto 175%;
  }
  
  .alink:hover {
    color:#0E2746;
    background-image: linear-gradient( white 50%, #FFCF34 50%);
    background-position-y: 50%;
    text-decoration: none;
  
  }
  